@model string

<div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" style="height:100px" name="description" oninput="this.editor.update()" placeholder="Type description. MarkdownTagHelper supported">@Model</textarea>
</div>
<div class="form-group">
    <label class="title" for="markdown-prev">Preview</label>
    <div class="form-control pre-scrollable" style="height:100px" id="markdown-prev"></div>
</div>

<script>
    new Editor($("#description")[0], $("#markdown-prev")[0]);
</script>