<div class="offset-1 h-100">
    <div class="form-group form-inline">
        <label for="fs-input"> Search: </label>
        <input type="text" id="fs-input" placeholder="Type this any text">
    </div>
</div>

