<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="kJ6mFu0EAVwLx2iC03EUuqIvhaBoY50Dui_hxmuDF5c" />
    <title>@ViewData["Title"] - Collections</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/tagify/tagify.min.css" rel="stylesheet" />
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
<partial name="_NavMenu"/>
<div class="row">
    <div class="container col-9">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
    
<partial name="_Footer"/>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
