@model (bool IsLiked, int Count)


<div class="badge badge-pill p-2 border border-info br-50">
    <img style="width: 16px; height: 16px;" src="@(Model.IsLiked ? "heart-clicked.png": "heart.png")" alt="text" /> :  <span> @Model.Count</span>
</div> 