
@using global::Collections.General
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Collfreector</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedMarkdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item float-right">
                        <a class="nav-link text-dark" asp-controller="Collection" asp-action="List">Collections</a>
                    </li>
                    @if (User.IsInRole(Constants.Roles.Admin))
                    {
                        <li>
                            <a class="nav-link text-dark">Admin</a>
                        </li>
                    }
                </ul>

                <partial name="_LoginPartial" />

                <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Item" asp-action="Index">
                    <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>


