@model global::Collections.Models.Collection.CollectionEditModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="EditPost">
    <div class="form-group">
        label
    </div>
</form>