@model List<Collections.Models.Collection.CollectionSimpleModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if(User?.Identity?.IsAuthenticated ?? false){
<div class="d-inline-flex flex-nowrap">
    <div class="p-2">
        <a class= "ml-1" asp-controller="Collection" asp-action="Create">Create</a>
    </div>
    <div class="p-2">
        <a class="ml-1" asp-controller="Collection" asp-action="My">My Collections</a>
    </div>
</div>
}

@if (Model.Count == 0)
{
    <div class="align-content-center">
        <span> No collections</span>
    </div>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var m in Model)
        {
            <partial name="Collection/_CollectionSimpleCard" model="m" />
        }
    </div>
}