@model Collections.Models.Comment.CommentViewModel

<div class="m-1 p-1">
    <p>
        @Model.Text
    </p>
    <span class="float-right">
        Sender: @Model.Sender.UserName at <time>@Model.Date</time>
    </span>
</div>