@model Collections.Models.Item.FieldValueViewModel

<div class="form-group col-2 m-2">
    <label for="@Model.Field.Name" class="font-weight-bold">@Model.Field.Name</label> <br />
    <span class="text-left form-control" name="@Model.Field.Name">
                @Model.Value
    </span>
</div>